.card{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: aqua;
    box-shadow: 0 0 10px 13px rgba(0, 0, 0, 0.397);
    
    overflow: hidden;
}
.header{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 2rem;
    text-align: center;
    background-color: brown;
    color: white;
}