.card{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: aqua;
    box-shadow: 0 0 10px 13px rgba(0, 0, 0, 0.397);
    border: solid 1px rgba(255, 255, 255, 0.473);
}