.card{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: #FFD700;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.623);
    transition: 0.3s;
    overflow: hidden;
}
.header{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 2rem;
    text-align: center;
    background-color: brown;
    color: white;

}
.card:hover{
    transform: scale(1.1);

}