.calendar-body{
    min-height: 90vh;
    width: 100%;
    background-color: rgb(48, 160, 121);

}
.days{ 
    margin-left: 0;
    margin-right: 0;
    position: relative;

}

.day{
    padding: 20px;
}
